---
title: About
layout: default
---

<p>My name is Lucien Pereira, I'm a software engineer with four years of
  experience.</p>
<p>When I'm not programming what I enjoy the most is running along <em>
  <a href="http://en.wikipedia.org/wiki/File:Pissarro_the_banks_of_the_marne_at_chennevi%C3%A8res_1864-5.png">La marne</a></em>,
  and having a beer with friends.
</p>