---
title: Index
layout: default
---

<h3>Latest entries</h3>
<ul class="square">
  {% for post in site.posts limit: 5 %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <!-- <span>({{ post.date | date:"%Y-%m-%d" }})</span> -->
  </li>
  <!-- {{ post.excerpt }} -->
  {% endfor %}
</ul>
<h3>Posts written for other blogs</h3>
<ul class="square">
  <li><a href="http://blog.zenika.com/index.php?post/2011/06/09/Implement-your-own-Scala-collection">Implement your own Scala collection (blog.zenika.com)</a></li>

  <li><a href="http://blog.zenika.com/index.php?post/2011/06/13/What-s-next-%3A-Pr%C3%A9sentation-de-la-biblioth%C3%A8que-Akka-par-Jonas-Bon%C3%A9r ">What's next : "Akka: Simpler Scalability, Fault-Tolerance, Concurrency &amp; Remoting through Actors" par Jonas Bonér (blog.zenika.com)</a></li>
</ul>
