<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <meta name="description" content="Lucien Pereira lpereira lpereir4">
  <meta name="author" content="Lucien Pereira">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  
  <script type="text/javascript">
    var browser     = navigator.userAgent;
    var browserRegex  = /(Android|BlackBerry|IEMobile|Nokia|iP(ad|hone|od)|Opera M(obi|ini))/;
    var isMobile    = false;
    if(browser.match(browserRegex)) {
      isMobile      = true;
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){
        window.scrollTo(0,1);
      }
    }
  </script>
  
  <!-- CSS -->
  <link rel="stylesheet" href="/includes/base.css">
  <link rel="stylesheet" href="/includes/amazium.css">
  <link rel="stylesheet" href="/includes/layout.css">
  <link rel="stylesheet" href="/includes/custom.css">
  
  <!-- Favicons
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114.png" /> -->
  
  <!-- To Top scripts -->
  <script src="/includes/smoothscroll.js"type="text/javascript" ></script>
  <script src="http://jqueryjs.googlecode.com/files/jquery-1.3.js" type="text/javascript"></script>
  <script src="/includes/jquery.easing.1.3.js" type="text/javascript"></script>
  <script src="/includes/jquery.ui.totop.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $().UItoTop({ easingType: 'easeOutQuart' });
    });
  </script>
</head>

<body>

  <div class="row">
    <div class="grid_12">
      <h1><a href="/">A title.</a></h1>
      <p class="intro">A description.</p>
    </div>
  </div>

  <div class="row rubs_container">
    <div class="grid_2">
      <a class="rub" href="/index.html">Entries</a>
    </div>
    <div class="grid_2">
      <a class="rub" href="/presentations.html">Presentations</a>
    </div>
    <div class="grid_2">
      <a class="rub" href="/about.html">About</a>
    </div>
    <div class="grid_12">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="grid_8 offset_2">
      {{ content }}
    </div>
  </div>
</body>
</html>